{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block content %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>{{page.title}}</h2>
                </div>
                <div class="image" style="background-image:url(&quot;{%static 'assets/img/tech/image4.jpg' %}&quot;);"></div>
                <div class="row">
                    <div class="col-auto col-md-6 offset-md-1 info">
                        <h3>Descrição</h3>
                        {{page.specific.description|richtext}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto col-md-6 offset-md-1 info">
                        <h3>Atividades</h3>
                        {% for activity in page.get_children %}
                            <li><a href="{{activity.url}}">{{activity.specific.title}}</a></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
